body {
    font: 16px/1.5 Helvetica Neue, Helvetica, Arial, Microsoft Yahei, Hiragino Sans GB,
    Heiti SC, WenQuanYi Micro Hei, sans-serif;
    margin: 0;
    width: 100%;
    height: 100vh;
    background-color: #E4EBF5;
}

/*标题属性*/
.title {
    /* position: absolute; */
    top: 0;
    text-align: center;
    font-size: 16px;
    margin: auto;
    height: 60px;
    line-height: 60px;
    background-color: #d5dce6;
    z-index: 10;
}

.title a {
    color: #666;
    font-size: 22px;
    text-decoration: None;
    transition: all .3s ease-in-out;
}

.title a:hover {
    color: #F5810A;
    transition: all .3s ease-in-out;
}

/*清除默认属性*/
ul, li {
    list-style: none;
    margin: 0;
    padding: 0;
}

p {
    margin: 0;
    padding: 0;
}

input, button {
    outline: none;
    border: none;
}

/*新任务输入框*/
#add-todo {
    height: 43px;
    width: 100%;
    line-height: 43px;
    font-size: 16px;
    padding-left: 20px;
    margin: 10px 0;
    border-radius: 10px;
    box-shadow: 0px 0px 5px #ccc;
    background-color: #E4EBF5;
    color: #333;
    z-index: 1;
    transition: all .3s ease-in-out;
}
#add-todo::-webkit-input-placeholder {
    color: #999999;
}
#add-todo::-moz-placeholder {
    color: #999999;
}
#add-todo::-ms-input-placeholder {
    color: #999999;
}

/*通用按钮*/
button {
    width: 50px;
    height: 50px;
    border-radius: 50px;
    font-size: 40px;
    color: #fff;
    z-index: 1;
}

/*删除按钮*/
.todo-del {
    position: absolute;
    top: 0;
    right: -80px;
    border-radius: 10px;
    background: rgba(210, 20, 30, 0.8);
    transition: all .3s ease-in-out;
    display: none;
}

.todo-del:hover {
    background: rgba(210, 20, 30, 1.2);
    transition: all .3s ease-in-out;
}

/*清除所有任务*/
.footer button {
    position: absolute;
    left: 50%;
    margin-left: -125px;
    font-size: 20px;
    background: rgba(210, 20, 30, 0.8);
    display: none;
}

.footer #del_done {
    width: 250px;
}
.footer div{
    margin-top: 20px;
}

/*任务标签*/
li {
    position: relative;
    width: 100%;
    height: 60px;
}

/*任务文本*/
li span {
    position: absolute;
    display: block;
    width: 100%;
    height: 50px;
    line-height: 50px;
    text-align: center;
    margin: 0 auto;
    border-radius: 10px;
    background: #f9f9f9;
    z-index: 2;
}

/*任务类别*/
.group {
    color: #888;
    font-weight: 900;
    margin: 16px 0;
    text-align: center;
}

/*未完成任务*/
#todo-list .todo-text {
    color: #fff;
    font-weight: 500;
    background: #439AF2;
    transition: all .3s ease-in-out;
}

#todo-list .todo-text:hover {
    background: #2E81ED;
    /* transform: translateY(-1px); */
    /*transform: translateX(5px);*/
    box-shadow: 1px 1px 5px rgba(33, 33, 33, 0.4);
    transition: all .3s ease-in-out;
}

/*已完成任务*/
#done-list .done-text {
    /*text-decoration: line-through;*/
    /*font-size: 20px;*/
    color: rgba(233, 233, 235, 0);
    background: rgba(200, 200, 200, 0.22);
    transition: all .3s ease-in-out;
}

#done-list .done-text:hover {
    color: rgba(255, 255, 255, 0);
    /* background: rgba(200, 200, 200, 0.9); */
    /*transform: translateY(-3px);*/
    box-shadow: 1px 1px 5px rgba(33, 33, 33, 0.1);
    transition: all .3s ease-in-out;
}

/*修改任务*/
li input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    line-height: 50px;
    text-align: center;
    font-size: 16px;
    color: #333;
    background: rgba(0, 0, 0, 0);
    margin: 0 auto;
    border-radius: 10px;
    z-index: 1;
}

#done-list input {
    color: rgba(111, 111, 111, 0.7);
}

.group {
    display: none;
}